<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Booklist</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
</head>
<body>
<div class="container">
<h2>Lisää liike</h2>
<div class="col-md-4">
<form th:object="${sarja}" th:action="@{tallennasarja}" action="#" method="post">

<label for="sarjanNimi">Sarjan nimi</label>
<input type="text" id="sarjanNimi" th:field="*{sarjanNimi}" class="form-control">
<div style="clear: both; display: block; height: 10px;"></div>


<!-- <label for="liike.luodutsarjat.sarjanNimi">Sarjan nimi</label>
<input type="text" id="sarjanNimi" th:field="*{sarjanNimi}" class="form-control">
<div style="clear: both; display: block; height: 10px;"></div>
<label for="sarjalista">Sarja</label>
<input type="text" id="sarjalista" th:field="*{sarja}" class="form-control">
<div style="clear: both; display: block; height: 10px;"></div>
 -->

<input type="submit" class="btn btn-primary" value="tallenna">
</form>
</div>
</div>
</body>
</html>