<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<title>Liikelista</title>
<meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
</head>
<body>
	<h1>Sarjat</h1>
	<a href="/lisaasarja" class="btn btn-primary">Lisää sarja</a>
	<a href="/liikelista" class="btn btn-primary">Liikelista</a>


	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Sarjan nimi</th>
				<th>Liikkeet</th>
				<th>Poista sarja</th>
				<th>Muokkaa sarjan nimeä</th>
			</tr>

			<tr th:each="sarja : ${sarjat}">
				<td th:text="${sarja.sarjanNimi}">nimi</td>
				<td>
					<table>
						<tr th:each="liike : ${sarja.lisatytLiikkeet}">
							<td th:text="${liike.nimi}"></td>
							<td><a th:href="@{/poistaliike/{id}(id=${liike.id})}"
								class="btn btn-basic btn-sm">Poista</a></td>
						</tr>
					</table>
				</td>
				<td><a th:href="@{/poistasarja/{id}(id=${sarja.id})}"
					class="btn btn-danger">Poista</a></td>
				<td><a th:href="@{/muokkaasarjaa/{id}(id=${sarja.id})}"
					class="btn btn-success">Muokkaa</a></td>
			</tr>
		<tbody>

		</tbody>

	</table>

	<!-- TOIMII	
<dl th:each="sarja : ${sarjat}">
		<dt th:text="${sarja.sarjanNimi}">
			<a th:href="@{/poistasarja/{id}(id=${sarja.id})}"
				class="btn btn-danger">Poista</a> <a
				th:href="@{/muokkaasarjaa/{id}(id=${sarja.id})}"
				class="btn btn-success">Muokkaa</a>
		</dt>
		<dd th:each="liike : ${sarja.lisatytLiikkeet}">
			<dl th:text="${liike.nimi}"></dl>
		</dd>
	</dl> -->



	<!-- 
	TOIMII
	<div th:each="sarja : ${sarjat}">
		<div style="font-size: 150%;" th:text="${sarja.sarjanNimi}"></div>
		<a th:href="@{/poistasarja/{id}(id=${sarja.id})}"
			class="btn btn-danger">Poista</a><a
			th:href="@{/muokkaasarjaa/{id}(id=${sarja.id})}"
			class="btn btn-success">Muokkaa</a>
		<div th:each="liike : ${sarja.lisatytLiikkeet}">
			<div th:text="${liike.nimi}"></div>
			<a th:href="@{(id=${liike.id})}" class="btn">Poista</a><a
				th:href="@{/muokkaaliiketta/{id}(id=${liike.id})}" class="btn">Muokkaa</a>
		</div>
	</div>
	
 -->

</body>
</html>